@import "../../../sass/var";
@import "../../../sass/mixing";

.bread-crumb {
  min-width: 400px;
  width: 100%;
  height: fit-content;
  padding: 20px 30px;
  display: flex;
  font-family: $font1;
  background-color: rgb(243, 243, 243);
  .home {
    color: $mainColor;
    padding: 0 10px;
  }
  .product-name {
    color: grey;
    padding: 0 10px;
  }
}
