@import "../../../sass/var";
@import "../../../sass/mixing";

.profile {
  min-width: 400px;
  width: 100%;
  min-height: calc(100vh - 20px);
  display: flex;
  padding: 30px 20px;
  .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span {
      font-size: medium;
      color: $mainHover;
      font-family: $font2;
      font-weight: 600;
    }
    .profile-sidebar {
      height: 95%;
      aside {
        width: 250px;
        height: 100%;
        background-color: $mainColor;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 5px;
        font-family: $font1;

        .link {
          padding: 0;
          margin: 0;
        }

        a {
          display: block;
          color: white;
          text-decoration: none;
          padding: 10px;
          cursor: pointer;
          transition: 0.2s ease;
          border-radius: 5px;
        }

        .dropdown {
          padding: 0 20px;
          margin-bottom: 10px;
          a {
            padding: 5px 0;
            font-size: 15px;
            color: rgb(216, 215, 215);
            &:hover {
              color: rgb(255, 255, 255);
            }
          }
        }
        .active {
          color: #20b3dd;
        }
      }
    }
  }

  main {
    flex: 1;
    padding: 20px;
    header {
      font-family: $font1;
      font-size: 25px;
      margin-bottom: 20px;
    }
    .error {
      color: red;
      font-family: $font1;
      font-size: small;
      margin-top: 2px;
    }
    .is-empty {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50vh;
      color: $mainColor;
      font-size: 20px;
      font-family: $font1;
    }
  }

  // manage profile

  main {
    .manage-profile {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      .profile-info {
        width: 35%;
        min-width: fit-content;
      }
      .address-info {
        width: 64%;
        min-width: fit-content;
        .address-not-found {
          color: red;
          font-size: small;
          font-family: $font1;
        }
      }
      div {
        height: 200px;
        border: 2px solid $mainColor;
        border-radius: 5px;
        transition: 0.2s ease;
        &:hover {
          box-shadow: 2px 2px 2px grey;
        }
        padding: 10px;
        header {
          color: black;
          font-size: 17px;
          margin-bottom: 10px;
          span {
            display: flex;
            align-items: center;
            span {
              margin: 0 10px;
            }
          }
          a {
            font-size: small;
            text-decoration: none;
            color: #1a9cb7;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        ul {
          list-style: none;
          li {
            margin: 5px 0;
            font-family: $font2;
            font-size: 14px;
            letter-spacing: 1px;
            color: rgb(26, 26, 26);
          }
        }
      }
    }

    .logout {
      margin-top: 20px;
      @include button1;
      padding: 13px 17px;
      .logout-icon {
        margin-right: 3px;
      }
      span {
        font-family: $font1;
        font-size: 14px;
      }
    }
    .admin-panel-button {
      margin-top: 20px;
      padding: 13px 17px;
      margin-left: 20px;
      @include button1;
      .right-arrow {
        margin-right: 3px;
      }
      span {
        font-family: $font1;
        font-size: 14px;
      }
    }
  }

  // update profile

  main {
    .edit {
      .inputs {
        width: 800px;
        display: flex;
        flex-wrap: wrap;
        div {
          display: flex;
          flex-direction: column;
          margin-left: 40px;
          label {
            font-family: $font1;
            margin-bottom: 5px;
            font-size: small;
          }
          input {
            font-family: $font1;
            padding: 13px 9px;
            border-radius: 5px;
            border: 1.5px solid #767676;
            outline-color: $mainColor;
          }
        }
        .name {
          margin-left: 0px;
        }
        .password {
          margin: 0;
          margin-top: 20px;
        }
      }
      .buttons {
        width: fit-content;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        span {
          margin: 5px 0;
          text-align: center;
          font-family: $font1;
          font-size: small;
        }
        .btn {
          @include button1;
          padding: 13px;
          font-size: 13px;
        }
      }
    }
  }

  // my profile + address book

  main {
    div {
      .inputs {
        display: flex;
        flex-wrap: wrap;
        div {
          display: flex;
          flex-direction: column;
          margin-left: 60px;
          span {
            font-family: $font1;
          }
          label {
            font-family: $font1;
            margin-bottom: 5px;
            font-size: small;
          }
        }
        .name {
          margin-left: 0px;
        }
      }
      .buttons {
        width: fit-content;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        span {
          margin: 5px 0;
          text-align: center;
          font-family: $font1;
          font-size: small;
        }
        .btn {
          @include button1;
          padding: 13px;
          font-size: 13px;
        }
      }
    }
  }

  // change password

  main {
    .change-password {
      .inputs {
        display: flex;
        flex-wrap: wrap;
        div {
          display: flex;
          flex-direction: column;
          margin-left: 40px;
          label {
            font-family: $font1;
            margin-bottom: 5px;
            font-size: small;
          }
          input {
            font-family: $font1;
            padding: 13px 9px;
            border-radius: 5px;
            border: 1.5px solid #767676;
            outline-color: $mainColor;
          }
        }
        .password {
          margin: 0;
        }
      }

      button {
        margin-top: 40px;
        @include button1;
        padding: 13px;
        font-size: 13px;
      }
    }
  }

  // // address book

  // .address-book {
  //   .address-inputs {
  //     .area {
  //       margin: 0;
  //       margin-top: 20px;
  //     }
  //     .address {
  //       margin-top: 20px;
  //     }
  //   }
  // }

  // edit/add address

  .edit-address {
    .edit-address {
      .inputs {
        .full-name {
          margin: 0;
        }
        .city {
          margin: 0;
          margin-top: 20px;
        }
        .area {
          margin-top: 20px;
        }
        .address {
          margin-top: 20px;
        }
      }
    }
  }

  .my-wishlist {
    height: fit-content;
    .wishlist-product {
      width: 100%;
      height: 150px;
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
      justify-content: space-between;
      border-radius: 5px;
      box-shadow: 1px 1px 5px grey;
      .wishlist-product-info {
        width: 100%;
        height: 100%;
        display: flex;
        .wishlist-product-img {
          width: 170px;
          height: 100%;
          // background-color: $mainColor;
          img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
          }
        }
        .wishlist-product-headers {
          display: flex;
          flex-direction: column;
          font-family: $font1;
          padding: 10px;

          span {
            margin: 5px 0;
          }
          .remove {
            color: red;
            cursor: pointer;
          }
        }
      }
    }
  }

  .my-orders {
    .order {
      box-shadow: 1px 1px 5px grey;
      margin-bottom: 15px;
      width: 100%;
      height: fit-content;
      background-color: #f5f6f8;
      border-radius: 5px;
      padding: 20px;
      .orderId-status {
        display: flex;
        justify-content: space-between;
        width: 100%;
        h3 {
          font-family: $font1;
          color: $mainColor;
        }
        span {
          color: green;
          font-family: $font1;
        }
      }
      .ordered-product {
        width: 100%;
        height: 150px;
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
        justify-content: space-between;
        border-radius: 5px;
        background-color: white;
        .ordered-product-info {
          width: 100%;
          height: 100%;
          display: flex;
          .ordered-product-img {
            width: 170px;
            height: 100%;
            // background-color: $mainColor;
            img {
              max-width: 100%;
              max-height: 100%;
              object-fit: contain;
            }
          }
          .ordered-product-headers {
            display: flex;
            flex-direction: column;
            font-family: $font1;
            padding: 10px;

            span {
              margin: 5px 0;
            }

            .review-button {
              @include button1;
              padding: 10px 15px;
              margin-top: 10px;
            }
          }
        }
      }
    }

    // end bracket
  }
}

// product review form

.floating-form {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  transition: all 0.3s ease;

  &.visible {
    display: block;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    textarea {
      padding: 8px;
      margin-top: 4px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      resize: vertical; /* Allow vertical resizing of textarea */
      font-family: $font1;
    }
    .error {
      font-size: small;
      color: red;
      margin: 5px 0;
      font-family: $font1;
      margin-bottom: 10px;
    }
    button {
      @include button1;
      padding: 10px;
    }
  }
}

// manage account
@media only screen and (max-width: 920px) {
  .profile {
    .sidebar {
      display: none;
    }
  }
}

@media only screen and (max-width: 675px) {
  .profile {
    main {
      .manage-profile {
        .profile-info {
          width: 100%;
        }
        .address-info {
          margin-top: 20px;
          width: 100%;
        }
      }
    }
  }
}

// update profile
@media only screen and (max-width: 1110px) {
  .profile {
    .edit-profile {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 846px) {
  .profile {
    header {
      font-family: $font1;
      font-size: 25px;
      margin-bottom: -20px;
    }
    .edit-profile {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media only screen and (max-width: 746px) {
  .profile {
    .edit-profile {
      .phone {
        margin-top: 20px;
        margin-left: 0 !important;
        margin-right: 60px;
      }
    }
  }
}
@media only screen and (max-width: 513px) {
  .profile {
    .edit-profile {
      .email {
        margin-top: 20px;
        margin-left: 0 !important;
        margin-right: 60px;
      }
    }
  }
}

// change password

@media only screen and (max-width: 738px) {
  .profile {
    .change-password {
      .new-password {
        margin-top: 20px;
        margin-left: 0 !important;
        margin-right: 60px;
      }
    }
  }
}
@media only screen and (max-width: 505px) {
  .profile {
    .change-password {
      .confirm-password {
        margin-top: 20px;
        margin-left: 0 !important;
        margin-right: 60px;
      }
    }
  }
}

// edit address
@media only screen and (max-width: 1120px) {
  .profile {
    .edit-address {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media only screen and (max-width: 746px) {
  .profile {
    .edit-address {
      .province {
        margin-top: 20px;
        margin-left: 0 !important;
        margin-right: 60px;
      }
      .area {
        margin-left: 0 !important;
        margin-right: 60px;
      }
    }
  }
}

@media only screen and (max-width: 573px) {
  .profile {
    .edit-address {
      .address {
        margin-left: 0 !important;
        margin-right: 60px;
      }
    }
  }
}

@media only screen and (max-width: 513px) {
  .profile {
    .edit-address {
      .phone {
        margin-top: 20px;
        margin-left: 0 !important;
        margin-right: 60px;
      }
    }
  }
}

// my orders

@media only screen and (max-width: 500px) {
  .my-orders {
    .orderId-status {
      h3 {
        font-size: 15px;
      }
      span {
        font-size: 13px;
      }
    }
  }
}
@media only screen and (max-width: 440px) {
  .my-orders {
    .orderId-status {
      h3 {
        font-size: 13px;
      }
      span {
        font-size: 10px;
      }
    }
  }
}
